.image-popup__container {
    display: flex;
    justify-content: center;
    margin: auto;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 869px) {
    .image-popup__container {
        max-width: 282px;
        padding: 25px 22px 25px 22px;
    }
}