.image-popup {
    position: fixed;
    justify-content: center;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s ease-out;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 90px;
    background-color: rgba(0, 0, 0, 0.9);
}

@media screen and (max-width: 550px) {
    .image-popup {
        padding-top: 89px;
    }
}