.elements__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 21px;
    padding-right: 22.24px;
    height: 79px;
    background-color: #FFFFFF;
}